<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hisen-service" owner="hisen" organization="ssm-hisen-service" logger="slf4j"/>
    <dubbo:registry id="dubbo-registry" address="zookeeper://127.0.0.1:2181" file="/tmp/dubbo.cachr"/>
    <dubbo:monitor protocol="registry"/>
    <dubbo:protocol name="dubbo" port="20881" host="127.0.0.1"/>
    <dubbo:provider timeout="15000" retries="0" delay="-1"/>
    <dubbo:consumer check="false" timeout="15000"/>
</beans>